<section id="courses_form" class="form my-4 mx-5">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <img
          src="/public//images/registration_copy.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-7 px-5 pt-4">
        <h1 class="font-weight-bold py-1" id="login_red">{{title}}</h1>

        <form method="post" id="coursesID" action="/courses">
          <input type="hidden" name="clicked" value="courses_added" />
          <div class="row pt-4">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  id="semester"
                  name="semester"
                  placeholder="Current Semester"
                  value="{{semester}}"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  id="course_count"
                  name="course_count"
                  placeholder="No. of courses taken"
                  value="{{courseCount}}"
                />
              </div>
            </div>
          </div>

          <div class="error-container" id="error-container" hidden>
            <div class="alert alert-danger">
              {{error}}
            </div>
          </div>

          <div class="row pt-2">
            <div class="col-md-6">
              <div class="form-group">
                <div id="courseDetails"></div>

              </div>
            </div>
          </div>
          <div class="row pt-4" id="button">
            <div class="col-lg-6 mx-auto text-center">
              <div class="form-group">
                <button id="first_button" class="btn1">Add Course Details</button>
              </div>
            </div>
          </div>

        </form>
        <script src="/public/js/courses.js"></script>
      </div>
    </div>
  </div>
</section>