<div class="mainbg">
    <form id="form_todo">
        <input type="text" placeholder="New TODO..." id="input_todo" />
        <button class="btn btn-light font-weight-bold" type="submit">
            Add +
        </button>
    </form>

    <div class="DandD_lanes">
        <div class="DandD" id="lane_todo">
            <h3 class="heading">TO DO</h3>
            <p class="task" draggable="true">
                Complete the report and submit it by the end of the day
            </p>
            <p class="task" draggable="true">
                Organize your desk and file important documents.
            </p>
            <p class="task" draggable="true">
                Schedule a meeting with the team to discuss the project.
            </p>
            <p class="task" draggable="true">
                Collaborate with colleagues to brainstorm new ideas for the project.
            </p>
        </div>

        <div class="DandD" id="lane_doing">
            <h3 class="heading">Doing</h3>
            <p class="task" draggable="true">
                Research and gather information for the upcoming presentation.
            </p>
            <p class="task" draggable="true">
                Attend the training session and take notes for future reference.
            </p>
            <p class="task" draggable="true">
                Create a to-do list for the week and prioritize tasks.
            </p>
        </div>

        <div class="DandD" id="lane_done">
            <h3 class="heading">Done</h3>
            <p class="task" draggable="true">
                Proofread the document and make necessary edits
            </p>
            <p class="task" draggable="true">
                Follow up with clients and respond to their inquiries.
            </p>
        </div>
    </div>
</div>