<section id="registration_form" class="form my-4 mx-5">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5">
            <img src="/public//images /registration_copy.jpg" class="img-fluid" alt="" />
          </div>
          <div class="col-lg-7 px-5 pt-4">
            <h1 class="font-weight-bold py-1" id="login_red">Register</h1>
            <!--<h4 id="sign_red">Register</h4>-->
            <form>
              <div class="row pt-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="f_name"
                      name="fname"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="l_name"
                      name="lname"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="reg_mail"
                      name="mail"
                      placeholder="abc@stevens.edu"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="number"
                      class="form-control"
                      id="cwid"
                      name="campus_code"
                      placeholder="Campus Wide ID (CWID)"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" id="major" name="major">
                      <option value="" disabled selected>Select Degree</option>
                      <option value="btech">bachelor's</option>
                      <option value="ms">Master's</option>
                      <option value="phd">PHD</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="form-control" id="major" name="major">
                      <option value="" disabled selected>Select Major</option>
                      <option value="CS">CS</option>
                      <option value="MIS">MIS</option>
                      <option value="CE">CE</option>
                      <option value="SW">SW</option>
                      <option value="ML">ML</option>
                      <option value="FE">FE</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="create_pass"
                      name="create"
                      placeholder="Create Password"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      id="confirm_pass"
                      name="confirm"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-lg-6 mx-auto text-center">
                  <button type="button" class="btn1">Submit</button>
                </div>
              </div>
              <p class="text-center">
                Already have an account?
                <a class="toggle" href="##">Login</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>